{{#if message}}
  <div class="container mt-3">
    <div class="alert d-flex align-items-center shadow-sm alert-dismissible fade show alert-{{#if error}}danger{{else}}success{{/if}}" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" class="me-2" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
        {{#if error}}
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.964 0L.165 13.233c-.457.778.091 1.767.982 1.767h13.706c.89 0 1.438-.99.982-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1-2.002 0 1 1 0 0 1 2.002 0z"/>
        {{else}}
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM7 11.414l6.293-6.293 1.414 1.414L7 14.243 1.293 8.536l1.414-1.414L7 11.414z"/>
        {{/if}}
      </svg>
      <div>
        {{ message }}
      </div>
      <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
{{/if}}
